#contact-us {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;

  .half {
    flex: 1 1 50%;
    width: 100%;
  }

  .contact-form {
    flex: 1 1 35%;
    .row {
      flex-direction: column;
    }
  }
}

@media (max-width: 768px) {
  #contact-us {
    gap: 0;
    flex-direction: column; // Ставим элементы в колонку
    align-items: stretch; // Центрируем контент
    width: 100%; // Убедимся, что блок занимает всю ширину
    margin: 0;
    padding: 0;
  }
}
