// Общий стиль
#root {
  position: relative; // Убедитесь, что #root имеет relative
  background-repeat: no-repeat;
  background-position: center bottom;
  background-image: url("/assets/images/backround/bg_footer_02.svg");
  background-size: 100% auto;
  z-index: 0; // Задний план
  opacity: 0; // Сделаем #root видимым сразу
  min-height: 100vh; // Устанавливаем минимальную высоту для #root

  // Псевдоэлемент для фона в верхней части страницы
  &::before {
    content: "";
    position: absolute;
    top: 160px;
    left: 0; // Слева
    width: 100%; // На всю ширину
    height: 364px; // Ограничиваем максимальную высоту
    background-image: url("../../assets/images/backround/bg_news_block.svg"); // Картинка
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    z-index: -1; // Картинка на заднем плане, за остальными элементами

    @media (max-width: 768px) {
      display: none; // Прячем картинку на мобильных устройствах
    }
  }
}

// Для главной страницы
#root:has(> #react-page #mainpageheader) {
  background-image: url("/assets/images/backround/bg_footer.svg");
  &::before {
    background-image: none;
  }
}
#react-page:has(> #mainpageheader) {
  margin-top: 0;
}
.page-loaded #root {
  opacity: 1;
  visibility: visible;
}

#react-page {
  margin-top: calc($navbar-height + 5 * $navbar-padding-tb);

  .header,
  .content {
    margin-left: 8%;
    margin-right: 8%;

    @media (max-width: 768px) {
      margin-left: 5%;
      margin-right: 5%;
    }
  }

  .content {
    background: $bg-primary;
    //padding: 0 1em;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    //box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
  }
}

.block .heading a,
#navbar .nav-link {
  position: relative;
}

.block .heading a::after,
#navbar .nav-link::after {
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  display: block;
  width: 0;
  height: 1px;
  transition: 0.3s;
}

.block .heading a::after {
  background: $text-primary;
}

.block .heading a:hover:after,
#navbar .nav-link:hover:after,
#navbar .nav-link.active:after {
  width: 100%;
}

.scroll-to-top {
  position: fixed;
  right: 2vw; // Используем vw для адаптивности
  bottom: 7.5vh; // Используем vh для адаптивности
  background-color: white;
  border-radius: 50%;
  width: 61px;
  height: 61px;
  z-index: 10;

  border: none;
  cursor: pointer;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
  animation: scaleIn 0.5s forwards; /* Анимация появления */
  box-shadow: 5px 6px 15px rgba(0, 0, 0, 0.05);
  &.visible {
    opacity: 1;
    transform: scale(1);
    box-shadow: 5px 6px 15px rgba(0, 0, 0, 0.1);
  }

  &.hidden {
    opacity: 0;
    transform: scale(0);
    animation: scaleOut 0.5s forwards; /* Анимация исчезновения */
  }

  img {
    height: auto;
  }
}

/* Анимация для появления кнопки */
@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Анимация для исчезновения кнопки */
@keyframes scaleOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

@media (max-width: 768px) {
  .scroll-to-top {
    display: none; // Скрыть кнопку на мобильных устройствах
  }
}
