.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    font-size: 20px;
    font-weight: 500;
    text-align: right;
    color: $text-primary;

    @media (max-width: 768px) {
      font-size: 16px;
    }
  }
  h1 {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 1.5rem;
    margin-top: 0;
    @include mediaMax($tablet-max-width) {
      font-size: 24px;
    }
  }
}
